.checkbox {
	cursor: pointer;
	display: flex;
	align-items: center;
	&__input {
		cursor: pointer;
		border-color: #fff;
		margin-right: 12px;
		-moz-appearance: none;
		appearance: none;
		-webkit-appearance: none;
		width: 19px;
		height: 19px;
		background-color: $primary;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
		transition: 0.1s ease-in-out;
		&:checked {
			background: url("~@/assets/icons/checkbox.svg");
			border: none;
		}
		&:hover {
			border: 2px $primary solid;
		}
	}
	&__label{
		font-weight: 600;
		font-size: 14px;
	}
}
